<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ElectionNight</name>
    <description>
        A sample Apache Cordova application that we don't know what it does yet.
    </description>
    <author email="cjt1871@g.rit.edu"  href="">
        Colin Thompson and Tyler Czupryk
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
